spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/mall
    username: postgres
    password: your_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

security:
  oauth2:
    resource:
      jwt:
        key-uri: http://localhost:8080/auth/realms/your_realm/protocol/openid-connect/certs

keycloak:
  auth-server-url: http://localhost:8080/auth
  realm: your_realm
  resource: auth-service
  credentials:
    secret: your_client_secret

logging:
  level:
    org.springframework.security: DEBUG

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: auth-service-group
      auto-offset-reset: earliest

redis:
  host: localhost
  port: 6379

elasticsearch:
  rest:
    uris: http://localhost:9200

feign:
  hystrix:
    enabled: true

circuitbreaker:
  enabled: true

saga:
  enabled: true